<template>
  <header class="header-global">
    <base-nav class="navbar-main" effect="light" expand transparent type="">
      <nuxt-link slot="brand" class="navbar-brand mr-lg-5" to="/">
        <img alt="logo" src="~/static/img/wof.png"> Undian.in
      </nuxt-link>

      <div slot="content-header" slot-scope="{closeMenu}" class="row">
        <div class="col-6 collapse-brand">
          <nuxt-link slot="brand" class="navbar-brand mr-lg-5 mt-0" to="/">
            <img alt="logo" src="~/static/img/wof.png"> Undian.in
          </nuxt-link>
        </div>
        <div class="col-6 collapse-close">
          <close-button @click="closeMenu"></close-button>
        </div>
      </div>

      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <nuxt-link slot="title" class="nav-link" data-toggle="dropdown" to="/" role="button">
          <i class="ni ni-ui-04 d-lg-none"></i>
          <span class="nav-link-inner--text">Kegiatan</span>
        </nuxt-link>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block text-white">
          {{user.first_name}} {{user.last_name}}
        </li>
        <li class="nav-item">
          <nuxt-link class="nav-link nav-link-icon" data-toggle="tooltip" to="/logout" title="Logout">
            <i class="fa fa-sign-out"></i>
            <span class="nav-link-inner--text d-lg-none">Logout</span>
          </nuxt-link>
        </li>
      </ul>
    </base-nav>
  </header>
</template>
<script>
import { mapGetters } from 'vuex';
import BaseNav from '~/components/template/BaseNav';
import BaseDropdown from '~/components/template/BaseDropdown';
import CloseButton from '~/components/template/CloseButton';

export default {
  name: 'Header',
  components: {
    BaseNav,
    CloseButton,
    BaseDropdown,
  },
  computed: {
    ...mapGetters({
      user: 'user/getUser',
    }),
  }
};
</script>
<style>
</style>
