@import 'components/components.toast';

#{$global-component-namespace} {
  // Error Message
  &error-message {
    color: red;
    font-size: 80%;
  }

  // Captcha Placeholder
  &captcha-placeholder {
    height: 78px;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: fff;

    &--temporary {
      font-style: italic;

      &::before {
        content: 'This box should be replaced with the working captcha';
      }
    }
  }

  // Wizard
  &wizard {
    position: relative;
    overflow: hidden;
    counter-reset: wizard;
    list-style-type: none;

    &__item {
      position: relative;
      float: left;
      width: 30%;
      text-align: center;
      color: #009efb;
    }

    .current ~ &__item {
      color: #d1d3e2;
    }

    &__item::before {
      counter-increment: wizard;
      content: counter(wizard);
      display: block;
      color: white;
      background-color: #009efb;
      border: 2px solid #009efb;
      text-align: center;
      width: 2em;
      height: 2em;
      line-height: 2em;
      border-radius: 2em;
      position: relative;
      left: 50%;
      margin-bottom: 1em;
      margin-left: -1em;
      z-index: 1;
    }

    .current ~ &__item::before {
      background-color: white;
      color: #d1d3e2;
      border-color: #d1d3e2;
    }

    &__item + &__item::after {
      content: '';
      display: block;
      width: 100%;
      background-color: #009efb;
      height: 2px;
      position: absolute;
      left: -50%;
      top: 1em;
      z-index: 0;
    }

    .current ~ &__item::after {
      background-color: #d1d3e2;
    }
  }

  // Dropdown
  &dropdown {
    &__group {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;

      &__image {
        margin-right: 16px !important;
        line-height: 0;

        img {
          border-radius: 100%;
          width: 16px;
          height: 16px;
          border: 1px solid #eee;
        }
      }
    }

    &__option {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      // padding-left: 42px;

      &--red {
        color: #e74a3b;
        font-style: italic;
      }
    }

    &__selected {
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-start;

      &__image {
        margin-right: 16px !important;
        line-height: 0;

        img {
          border-radius: 100%;
          width: 16px;
          height: 16px;
          border: 1px solid #eee;
        }
      }
    }
  }

  // Table

  &table {
    &--sortable {
      cursor: pointer;
      position: relative;

      &::before,
      &::after {
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3;
      }

      &::before {
        right: 1em;
        content: '\2191';
      }

      &::after {
        right: 0.5em;
        content: '\2193';
      }

      &.desc {
        &::after {
          opacity: 1;
        }
      }

      &.asc {
        &::before {
          opacity: 1;
        }
      }

      &.u-align-right {
        padding-right: 2.3em;
      }
    }
  }

  &label {
    &--with-image {
      $this: &;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      align-items: center;

      &__image {
        img {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid #eee;
        }
      }

      &__text {
        margin-left: 0.75em;
      }

      &--right {
        #{$this}__image {
          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #eee;
          }
        }

        #{$this}__text {
          margin-left: 0;
          margin-right: 0.75em;
        }
      }
    }
  }

  &pagination {
    display: block;
    margin: 0;
    padding: 0;

    &__control {
      display: inline-block;

      > span {
        background-color: #fff;
        color: #4c4f56;
        padding: 0.4rem 0.75rem;
        cursor: pointer;

        &:hover {
          background-color: #fff;
          color: #224abe;
        }
      }

      &--disabled {
        > span {
          color: #858796;
          pointer-events: none;
          cursor: auto;

          &:hover {
            background-color: #fff;
            color: #858796;
          }
        }
      }
    }

    &__item {
      display: inline-block;

      > span {
        background-color: #fff;
        color: #4c4f56;
        padding: 0.4rem 0.75rem;
        // border-radius: 50%;
        cursor: pointer;

        &:hover {
          background-color: #bbddf9;
          color: #224abe;
        }
      }

      &--active {
        > span {
          background-color: #bbddf9;
          color: #009efb;
        }
      }
    }
  }

  &copy-link {
    $this: &;
    cursor: pointer;
    display: inline-block;
    position: relative;

    &::before,
    &::after {
      content: '';
      font-weight: 900;
      font-family: 'Font Awesome 5 Free';
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      margin: 0;
    }

    &::before {
      display: none;
    }

    &::after {
      content: '\f0c5';
      margin-left: 0.5em;
    }

    &:hover {
      &::after {
        color: #009efb;
      }
    }

    &--success,
    &--success::before,
    &--success:hover::before,
    &--success::after,
    &--success:hover::after {
      color: #91ce4c !important;
    }

    &--success {
      &::before {
        display: inline-block;
        content: '\f00c';
        margin-right: 0.5em;
      }

      &::after {
        display: none;
      }
    }

    &#{$this}--no-icon {
      &::before,
      &::after {
        display: none;
        content: '';
      }
    }
  }

  //
  //
  //
  &control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;

    &__inline {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 1rem;
    }

    &__input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked ~ .c-control__label {
        &::before {
          color: #fff;
          border-color: #009efb;
          background-color: #009efb;
        }
      }

      &:focus ~ .c-control__label {
        &::before {
          -webkit-box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(78, 115, 223, 0.25);
        }
      }

      &:focus {
        &:not(:checked) ~ .c-control__label {
          &::before {
            border-color: #bac8f3;
          }
        }
      }

      &:not(:disabled) {
        &:active ~ .c-control__label {
          &::before {
            color: #fff;
            background-color: #e5ebfa;
            border-color: #e5ebfa;
          }
        }
      }

      &:disabled ~ .c-control__label {
        color: #858796;
        &::before {
          background-color: #eaecf4;
        }
      }
    }

    &__label {
      margin-bottom: 0;
      position: relative;
      vertical-align: top;

      &::before {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: '';
        background-color: #fff;
        border: #b7b9cc solid 1px;
      }

      &::after {
        position: absolute;
        top: 0.25rem;
        left: -1.5rem;
        display: block;
        width: 1rem;
        height: 1rem;
        content: '';
        background: no-repeat 50% / 50% 50%;
      }
    }

    // Variant: Radio
    &--radio {
      .c-control__label {
        &::before {
          border-radius: 50%;
        }
      }
      .custom-control-input {
        &:checked ~ .c-control__label {
          &::after {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
          }
        }
        &:disabled {
          &:checked ~ .c-control__label {
            &::before {
              background-color: rgba(78, 115, 223, 0.5);
            }
          }
        }
      }
    }

    // Variant: Switch
    &--switch {
      padding-left: 2.25rem;

      label {
        &::before {
          left: -2.25rem;
          width: 1.75rem;
          pointer-events: all;
          border-radius: 0.5rem;
        }
        &::after {
          top: calc(0.25rem + 2px);
          left: calc(-2.25rem + 2px);
          width: calc(1rem - 4px);
          height: calc(1rem - 4px);
          background-color: #b7b9cc;
          border-radius: 0.5rem;
          transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
          transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
      }

      input {
        &:checked ~ .c-control__label {
          &::after {
            background-color: #fff;
            -webkit-transform: translateX(0.75rem);
            transform: translateX(0.75rem);
          }
        }
        &:disabled {
          &:checked ~ .c-control__label {
            &::before {
              background-color: rgba(78, 115, 223, 0.5);
            }
          }
        }
      }
    }

    @media (prefers-reduced-motion: reduce) {
      &switch {
        label {
          &::after {
            -webkit-transition: none;
            transition: none;
          }
        }
      }
    }
  }

  &icon {
    border: 1px solid #eee;

    &--circle {
      border-radius: 50%;
    }

    &--xl {
      width: 72px;
      height: 72px;
    }

    &--lg {
      width: 64px;
      height: 64px;
    }

    &--md {
      width: 48px;
      height: 48px;
    }

    &--sm {
      width: 32px;
      height: 32px;
    }

    &--xs {
      width: 16px;
      height: 16px;
    }
  }
}

.table-sm {
  #{$global-component-namespace} {
    &table {
      &--sortable {

        &::before,
        &::after {
          bottom: 0.45em;
        }

        &::before {
          right: 0.7em;
          content: '\2191';
        }
  
        &::after {
          right: 0.2em;
          content: '\2193';
        }
      }
    }
  }
}