<template>
  <div class="c-limit-filter">
    <div>
      Show
    </div>
    <div>
      <SelectInput label="Limit" :options="filterOptions" placeholder="Limit" :show-label="false" :value="filterData" @input="changed" />
    </div>
    <div>
      entries
    </div>
  </div>
</template>

<script>
import SelectInput from '~/components/inputs/select';

export default {
  name: 'WidgetTableLimitFilter',
  components: { SelectInput },
  props: {
    value: {
      type: Number,
      default: 10,
      validator: value => {
        return [10, 25, 50, 100].indexOf(value) !== -1;
      },
    },
  },
  data() {
    return {
      default: 10,
      filterOptions: [
        { text: '10', id: '10' },
        { text: '25', id: '25' },
        { text: '50', id: '50' },
        { text: '100', id: '100' },
      ],
    };
  },
  computed: {
    filterData() {
      return { text: `${this.value}`, id: `${this.value}` };
    },
  },
  methods: {
    changed(val) {
      let num = this.default;
      if (val.id) num = parseInt(val.id, 10);
      this.$emit('input', num);
    },
  },
};
</script>

<style lang="scss" scoped>
.c-limit-filter {
  > div {
    display: inline-block;
  }

  .form-group {
    margin: 0 1em;
    width: 100px;
  }
}
</style>
