<template>
  <ul v-if="totalPage >= 1" class="c-pagination">
    <li class="c-pagination__control" :class="{ 'c-pagination__control--disabled': parseInt(page, 10) === 1 }">
      <span @click="parseInt(page, 10) !== 1 ? click(parseInt(1, 10)) : click(null)">
        First
      </span>
    </li>
    <li class="c-pagination__control" :class="{ 'c-pagination__control--disabled': parseInt(page, 10) === 1 }">
      <span @click="parseInt(page, 10) > 1 ? click(parseInt(page, 10) - 1) : click(null)">Previous</span>
    </li>
    <li v-for="n in pages" :key="n" class="c-pagination__item" :class="{ 'c-pagination__item--active': n === parseInt(page, 10) }">
      <span @click="click(n)">{{ n }}</span>
    </li>
    <li class="c-pagination__control" :class="{ 'c-pagination__control--disabled': parseInt(page, 10) === totalPage }">
      <span @click="parseInt(page, 10) < totalPage ? click(parseInt(page, 10) + 1) : click(null)">
        Next
      </span>
    </li>
    <li class="c-pagination__control" :class="{ 'c-pagination__control--disabled': parseInt(page, 10) === totalPage }">
      <span @click="parseInt(page, 10) !== totalPage ? click(parseInt(totalPage, 10)) : click(null)">
        Last
      </span>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'WidgetTablePagination',
  props: {
    page: {
      type: Number,
      default: 1,
    },
    totalPage: {
      type: Number,
      default: 1,
    },
    paginationLength: {
      type: Number,
      default: 5,
    },
  },
  data() {
    return {
      pages: [],
    };
  },
  watch: {
    async page() {
      this.countPages();
    },
  },
  mounted() {
    this.countPages();
  },
  methods: {
    countPages() {
      const half = parseInt(this.paginationLength / 2,10);
      let low = 1;
      let high = this.totalPage;
      if (this.totalPage === this.page) {
        low =  this.page - this.paginationLength + 1;
      } else if (this.page <= half) {
        high = this.page + half + (half - this.page + parseInt(this.paginationLength % 2,10));
      } else if (this.totalPage - this.page < half) {
        high = this.totalPage;
        if (parseInt(this.paginationLength % 2,10) === 0) {
          low =  this.page - half - (this.totalPage - this.page) + 1;
        } else {
          low =  this.page - half - (this.totalPage - this.page);
        }
      } else {
        if (parseInt(this.paginationLength % 2,10) === 0) {
          low = this.page - half + 1;
        } else {
          low = this.page - half;
        }
        high = this.page + half;
      }

      this.pages = [];
      for (let i = low; i <= high; i += 1) {
        if (i > 0 && i <= this.totalPage) {
          this.pages.push(i);
        }
      }
      console.info(this.pages);
    },
    click(page = null) {
      if (page !== null) this.$emit('click', page);
    },
  },
};
</script>
