<template>
  <div>
    Showing {{ itemStart }} to {{ itemEnd }} of {{ totalData }}
    {{ totalData >= 2 ? 'entries' : 'entry' }}
  </div>
</template>

<script>
export default {
  name: 'WidgetTableSummary',
  props: {
    itemStart: {
      type: Number,
      default: 0,
    },
    itemEnd: {
      type: Number,
      default: 0,
    },
    totalData: {
      type: Number,
      default: 0,
    },
  },
};
</script>
