#{$global-component-namespace} {
  &toast {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 99999;

    &-item {
      opacity: 1;
      width: 300px;
      max-width: 300px;

      .toast-body {
        overflow-wrap: break-word;
      }
    }

    &--success {
      // background-color: $global-color-yellow;
      // color: $global-color-white;

      .toast-header {
        background-color: $green;
        color: $global-color-white;

        .close {
          color: $global-color-white;
          opacity: 1;
        }
      }
    }

    &--info {
      // background-color: $global-color-yellow;
      // color: $global-color-white;

      .toast-header {
        background-color: $info;
        color: $global-color-white;

        .close {
          color: $global-color-white;
          opacity: 1;
        }
      }
    }

    &--warning {
      // background-color: $global-color-yellow;
      // color: $global-color-white;

      .toast-header {
        background-color: $global-color-yellow-dark;
        color: $global-color-white;

        .close {
          color: $global-color-white;
          opacity: 1;
        }
      }
    }

    &--error {
      // background-color: $global-color-red-light;
      // color: $global-color-white;

      .toast-header {
        background-color: $global-color-red-dark;
        color: $global-color-white;

        .close {
          color: $global-color-white;
          opacity: 1;
        }
      }
    }
  }
}
