

.c-full-width {
  width: 100%;
}

.section-thin-cover {
  height: 580px;
  background-size: cover;
  background-position: 50%;
  @media (max-width: 991.98px) {
    height: 400px;
  }
}

.section-shaped .shape.shape-skew + .shape-container {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.navbar-brand {
  img {
    height: 40px;
  }

  @media (max-width: 991.98px) {
    margin-top:10px;
  }
}

.breadcrumb {
  padding: 0;
  background-color: transparent;
  color: white;
  
  .breadcrumb-item{
    a{
      color: white;
    }
    
    + .breadcrumb-item {
      &:before{
        color: white;
      }
    }
  }
}

.multiselect__select{
  height: calc(2.75rem + 2px);
  padding: 0.625rem 0.75rem;
}
.multiselect__tags {
  padding: 0.625rem 0.75rem;
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  min-height: calc(2.75rem + 2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.multiselect__placeholder{
  margin-bottom: 0;
  padding: 0;
}
.multiselect__input, .multiselect__single {
  padding-left: 0px;
  margin-bottom: 0px;
  font-size: 0.875rem;
}

.c-dropdown {
  &__option{
    &__left{
      font-size: 0.875rem;
    }
    &__right{
      font-size: 0.875rem;
    }
  }
}

.modal {
  display: block;
  height: 0;
  overflow: hidden;
  z-index: 9999;

  &.show {
    height: auto;
  }

  &-backdrop {
    display: block;
    height: 0;
    overflow: hidden;
    z-index: 9998;

    &.show {
      opacity: 0.5;
      height: 100%;
    }
  }
}

.close > span:not(.sr-only) {
  height: auto;
  width: auto;
}

section {
  &.mt--200{
    margin-top: -200px;
  }
}

.multiselect__spinner {
  top: 3px;
  height: 40px;
  z-index: 1;
}

.vdp-datepicker {
  .form-control {
    &[readonly] {
      &:not(:disabled) {
        background-color: #ffffff;
        color: black;
      }
    }
  }
}

.height-300{
  height: 300px;
}

.card {
  &.card-loading {

    .card-body{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    background-color: #dedede;
  }
}

.section-shaped .shape-style-1.shape-default {
  background: linear-gradient(150deg, #e09a00 15%, #ea6100 70%, #ea6100 94%);
}

.vue__time-picker {
  .dropdown {
    z-index: 2;
    top: calc(2.2em + 11px);

    ul {
      &::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }
      
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
    
  }

  input
  {
    &.display-time {
      padding: 0.625rem 0.75rem;
      height: calc(2.75rem + 2px);
    }

    &.form-control[readonly] {
      background-color: inherit;
      color: black;
    }
  }
}

.form-control {
  color: black;
  &:focus {
    color: black;
  }
}

.layout-enter-active, .layout-leave-active {
  position: absolute;
  transition: opacity .6s
}

.layout-enter, .layout-leave-to {
  opacity: 0;
}

.start-undian {
  background: rgba(0, 0, 0, 0.3215686274509804);
  
  h2, h1 {
    color:white;
  }
}