<template>
  <ol class="breadcrumb">
    <template v-for="(item, index) in items">
      <li :key="index" class="breadcrumb-item">
        <NuxtLink v-show="index !== items.length - 1" :to="item.path">{{ item.label }}</NuxtLink>
        <span v-show="index === items.length - 1">{{ item.label }}</span>
      </li>
    </template>
  </ol>
</template>

<script>
export default {
  name: 'Breadcrumb',
  props: {
    items: {
      type: Array,
      default: () => {
        return [
          {
            path: '/',
            label: 'Home',
          },
        ];
      },
    },
  },
};
</script>
