<template>
  <section v-if="showCard" class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <card body-classes="py-4 c-full-width" class="border-0 card-loading height-300 mb-4 c-full-width" shadow>
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </card>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'CardLoading',
  props: {
    showCard: {
      type: Boolean,
      default: true,
    },
  },
};
</script>