<template>
  <div>
    <div :class="['modal', 'fade', {'show d-block': show}, {'d-none': !show}]" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered" :class="{ 'modal-lg': size === 'lg' }">
        <div class="modal-content" :class="classContent">
          <div v-show="$slots.header" class="modal-header">
            <h5 class="modal-title">
              <slot name="header">
                {{ title }}
              </slot>
            </h5>
            <button class="close" type="button" @click="$emit('cancel')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div v-show="!$slots.header && headerClose" style="position: absolute; right: 1rem; top: 1em; z-index: 1;">
            <button class="close u-pointer--cursor" type="button" @click="$emit('cancel')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <slot name="full-body">
            <div class="modal-body">
              <slot name="body">
                {{ message }}
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button :class="styleButtonCancel" type="button" @click="$emit('cancel')">{{ labelCancel }}</button>
                <button :class="styleButtonOk" type="button" @click="$emit('ok')">
                  <span v-show="isSubmitting" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                  {{ isSubmitting ? 'Loading...' : labelOk }}
                </button>
              </slot>
            </div>
          </slot>
        </div>
      </div>
    </div>
    <div :class="['modal-backdrop', 'fade', { show: show && backdrop === true }]"></div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    backdrop: {
      type: Boolean,
      default: true,
    },
    show: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: 'Title',
    },
    message: {
      type: String,
      default: 'This is a modal window',
    },
    labelOk: {
      type: String,
      default: 'Save Changes',
    },
    classContent: {
      type: String,
      default: '',
    },
    labelCancel: {
      type: String,
      default: 'Close',
    },
    styleButtonOk: {
      type: String,
      default: 'btn btn-primary',
    },
    isSubmitting: {
      type: Boolean,
      default: false,
    },
    styleButtonCancel: {
      type: String,
      default: 'btn btn-secondary',
    },
    size: {
      type: String,
      default: '',
    },
    headerClose: {
      type: Boolean,
      default: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.close {
  box-shadow: none;
  outline: none;
  width: 24px;
  height: 24px;
  text-shadow: none;

  &:hover {
    background: #ccc;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
</style>
