<template>
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-row align-content-center align-items-center">
        <slot name="header-title"></slot>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-right">
        <div v-if="enableSearch" class="align-content-center align-items-center form-row justify-content-between justify-content-md-end">
          <TextInput v-model="search" margin="mb-1" placeholder="Search">
            <template v-slot:prepend>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </template>
            <template v-slot:append>
              <div v-if="search !== '' && search !== null" class="input-group-append u-cursor--pointer" @click="search = null">
                <span class="input-group-text"><i class="fa fa-times"></i></span>
              </div>
            </template>
          </TextInput>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover" :class="[`${tableClass}`]">
        <thead>
          <tr role="row">
            <th
              v-for="header in headers"
              :key="header.id"
              :class="[`${header.headerCssClass ? header.headerCssClass : ''}`, ...headCssClasses(header)]"
              :style="header.headerCssStyle"
              @click="headClick(header)"
            >
              
              <div v-if="header.labelIcon" class="text-center"><i :class="header.labelIcon"> </i></div>
              <span v-else>{{ header.label }}</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-show="isLoading">
            <td :colspan="columnSize">
              <slot name="data-loading">
                <div class="text-center font-italic">Loading</div>
              </slot>
            </td>
          </tr>
          <tr v-show="items.length === 0">
            <td :colspan="columnSize">
              <slot name="data-loading">
                <div class="text-center font-italic">No Data</div>
              </slot>
            </td>
          </tr>
          <tr v-for="(item, id) in items" :key="id">
            <td v-for="(header, i) in headers" :key="i" class="u-valign-middle" :class="header.columnCssClass" :style="header.columnCssStyle">
              <slot v-if="header.type === 'custom'" :item="{ ...item, ...{ idx: id } }" :name="header.field">
                {{ item[header.field] }}
              </slot>
              <div v-else :class="header.cssClass" :style="header.cssStyle">{{ item[header.field] }}</div>
            </td>
          </tr>
        </tbody>
        <tfoot v-if="pagination">
          <tr>
            <td :colspan="columnSize">
              <div class="row">
                <div class="col-md-4 col-12 text-md-left text-center pt-3">
                  <WidgetTableSummary :item-end="itemEnd" :item-start="itemStart" :total-data="totalData" />
                </div>
                <div class="col-md-8 col-12 text-md-right text-center pt-3">
                  <WidgetTablePagination :page="page" :total-page="totalPage" @click="pageClick" />
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</template>

<script>
import { getSummaryEnd, getSummaryStart, getSummaryTotalPage } from '~/helpers/table';
import TextInput from '~/components/inputs/text';
import WidgetTableSummary from '~/components/widgets/table/summary';
import WidgetTablePagination from '~/components/widgets/table/pagination';

export default {
  name: 'Table',
  components: { TextInput, WidgetTableSummary, WidgetTablePagination },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    tableClass: {
      type: String,
      default: 'table-md',
    },
    headers: {
      type: Array,
      default: () => {
        return [
          {
            field: null,
            label: 'OS',
            type: 'custom',
            headerCssStyle: '',
            headerCssClass: '',
            columnCssStyle: '',
            columnCssClass: '',
            cssStyle: '',
            cssClass: '',
            sortable: false,
          },
        ];
      },
    },
    items: {
      type: Array,
      default: () => {
        return [];
      },
    },
    pagination: {
      type: Boolean,
      default: true,
    },
    page: {
      type: Number,
      default: 1,
    },
    limit: {
      type: Number,
      default: 1,
    },
    totalData: {
      type: Number,
      default: 1,
    },
    enableSearch: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      sort: {
        sorted: false,
        by: null,
        byComplete: null,
        order: 'asc',
      },
      search: null,
    };
  },
  watch: {
    search() {
      this.execSearch();
      return true;
    },
  },
  computed: {
    itemStart() {
      return getSummaryStart(this.limit, this.page, this.totalData);
    },
    itemEnd() {
      return getSummaryEnd(this.limit, this.totalData, this.itemStart);
    },
    totalPage() {
      return getSummaryTotalPage(this.limit, this.totalData);
    },
    columnSize() {
      return this.headers.length;
    },
    headCssClasses() {
      return header => {
        return {
          'c-table--sortable': header.sortable,
          asc: header.field === this.sort.by && this.sort.order === 'asc',
          desc: header.field === this.sort.by && this.sort.order === 'desc',
        };
      };
    },
  },
  mounted() {
    this.originalItems = this.items;
  },
  methods: {
    pageClick(page = null) {
      if (page !== null) {
        this.$emit('change-page', page);
      }
    },
    headClick(header) {
      if (header.sortable) {
        this.sort.sorted = true;
        const targetField = header.sortableField;
        if (this.sort.by === header.field) {
          this.sort.order = this.sort.order === 'asc' ? 'desc' : 'asc';
        } else {
          this.sort.by = header.field;
          this.sort.byComplete = targetField || header.field;
          this.sort.order = 'asc';
        }
        this.execSort();
      }
    },
    execSort() {
      // Notify the parent about the event
      this.$emit('sort', this.sort);
    },
    execSearch() {
      // Notify the parent about the event
      this.$emit('search', this.search);
    },
  },
};
</script>
