<template>
  <div>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-tiny-cover section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-white">Buat Kegiatan</h1>
                <Breadcrumb :items="breadcrumbItems" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <card body-classes="py-4" class="border-0" shadow>
              <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="message = null">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
              </div>
              <ValidationObserver v-slot="{ handleSubmit }">
                <form role="form" @submit.prevent="handleSubmit(onSubmit)">
                  <FormKegiatan :id="'FormKegiatan'" :form-data="formData" :is-submitting="isSubmitting" />
                </form>
              </ValidationObserver>
            </card>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</template>

<script>
import Vue from 'vue';

import VueMoment from 'vue-moment';
import moment from 'moment-timezone';
import FormKegiatan from '~/components/forms/kegiatan';
import Breadcrumb from '~/components/breadcrumb';
import errorMixin from '~/mixins/error';

Vue.use(VueMoment, { moment });

export default {
  name: 'PageKegiatanCreate',
  layout: 'default',
  head: {
    title: `Buat Kegiatan | ${process.env.APP_NAME}`,
  },
  components: { Breadcrumb, FormKegiatan },
  mixins: [errorMixin],
  data() {
    return {
      isSubmitting: false,
      message: null,
      formData: {
        nama: null,
        tema: null,
        background: null,
        tanggal: null,
        jam: null,
      },
      breadcrumbItems: [
        {
          path: '/',
          label: 'Home',
        },
        {
          path: '/kegiatan/create',
          label: 'Kegiatan - Buat',
        },
      ],
    };
  },
  methods: {
    async onSubmit() {
      this.isSubmitting = true;

      let tanggal = moment(`${this.formData.tanggal}`);
      tanggal = tanggal.set({ hour: parseInt(this.formData.jam.HH,10), minute: parseInt(this.formData.jam.mm,10) });

      const param = {
        nama: this.formData.nama,
        tema: this.formData.tema,
        background: this.formData.background,
        tanggal: tanggal.format('X'),
      };

      try {
        await this.$store.dispatch('kegiatan/create', param);
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Create Kegiatan Sukses',
            type: 'success',
            autoHide: true,
          },
        );
        this.$router.push('/');
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
  },
};
</script>
