<template>
  <div>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-tiny-cover section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-white">Detail Kegiatan</h1>
                <Breadcrumb :items="breadcrumbItems" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <CardLoading :show-card="!showCard" />
    <section v-if="showCard" class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <card body-classes="py-4" class="border-0 mb-4" shadow>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Nama Kegiatan</b></label>
                <div class="col-sm-9 col-md-10">
                  : {{ nama }}
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Tema</b></label>
                <div class="col-sm-9 col-md-10">
                  : {{ tema }}
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Tanggal</b></label>
                <div class="col-sm-9 col-md-10">
                  : {{ tanggal | humanizeTimestamp('%dd% %month% %yyyy% %hh%:%mi%', 'ID') }}
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Background</b></label>
                <div class="col-sm-9 col-md-10">
                  <img :src="path_background" width="200px">
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Status</b></label>
                <div class="col-sm-9 col-md-10">
                  : {{ kegiatan.status === 1 ? 'Permanent' : 'Open' }}
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 col-md-2"><b>Created At</b></label>
                <div class="col-sm-9 col-md-10">
                  : {{ createdAt | humanizeTimestamp('%dd% %month% %yyyy% %hh%:%mi%', 'ID') }}
                </div>
              </div>
              <hr>
              <div class="row mb-3">
                <label class="col-sm-3 mb-0"><b>Musik Undian</b></label>
                <div class="col-sm-9 mb-0">
                  : <toggle-button :key="'music'" v-model="music" class="mb-0" :font-size="12" :height="30" :labels="{checked: 'Pakai Musik', unchecked: 'Tidak Pakai Musik'}" :width="150" />
                </div>
              </div>
              <div class="row">
                <label class="col-sm-3 mb-0"><b>Tampilkan Nomor Undian</b></label>
                <div class="col-sm-9 mb-0">
                  : <toggle-button :key="'undian'" v-model="undian" class="mb-0" :font-size="12" :height="30" :labels="{checked: 'Tampilkan', unchecked: 'Sembunyikan'}" :width="150" />
                </div>
              </div>
              <div v-if="kegiatan.status === 0" class="text-right">
                <hr>
                <a class="btn btn-sm btn-danger" href="javascript:;" @click="showResetUndian"><i class="fa fa-refresh"></i> Reset</a>
                <a class="btn btn-sm btn-info" href="javascript:;" @click="showPermanent"><i class="fa fa-lock"></i> Permanent</a>
                <NuxtLink class="btn btn-sm btn-primary" :to="`/kegiatan/${id}/playground`"><i class="fa fa-play"></i> Jalankan Undian</NuxtLink>
                <a class="btn btn-sm btn-danger pull-left" href="javascript:;" @click="clickDelete"><i class="fa fa-times"></i> Delete</a>
                <NuxtLink class="btn btn-sm btn-success pull-left" :to="`/kegiatan/${id}/edit`"><i class="fa fa-pencil"></i> Edit</NuxtLink>
              </div>
            </card>

            <div>
              <b-card no-body>
                <b-tabs card>
                  <b-tab title="Tahap">
                    <b-card-text>
                      <Table enable-search :headers="headers" :items="datas" :limit="limit" :page="page" :table-class="'table-sm'" :total-data="totalData" @change-page="changePage" @search="search" @sort="sort">
                        <template v-slot:header-title>
                          <h5 class="mb-3">
                            <a v-if="kegiatan.status === 0" class="btn btn-sm btn-primary" href="javascript:;" @click="clickCreateTahap"><i class="fa fa-plus"></i> Buat Tahap</a>
                          </h5>
                        </template>
                        <template v-slot:id="{ item }">
                          <a v-if="item.status === 0 && kegiatan.status === 0" class="btn btn-sm btn-success" href="javascript:;" @click="clickEditTahap(item.id)"><i class="fa fa-edit"></i></a>
                          <a v-if="item.status === 0 && kegiatan.status === 0" class="btn btn-sm btn-danger" href="javascript:;" @click="clickDeleteTahap(item.id)"><i class="fa fa-times"></i></a>
                        </template>

                        <template v-slot:status="{ item }">
                          <span v-if="item.status === 0">Belum Diundi</span>
                          <span v-if="item.status === 1">Sudah Diundi</span>
                        </template>
                      </Table>
                    </b-card-text>
                  </b-tab>
                  <b-tab title="Undian">
                    <b-card-text>
                      <Table enable-search :headers="undianHeaders" :items="undianItems" :limit="undianLimit" :page="undianPage" :table-class="'table-sm'" :total-data="undianTotalData" @change-page="undianChangePage" @search="undianSearch" @sort="undianSort">
                        <template v-slot:header-title>
                          <h5 class="mb-3">
                            <a v-if="kegiatan.status === 0" class="btn btn-sm btn-primary" href="javascript:;" @click="clickUploadUndian"><i class="fa fa-upload"></i> Upload Undian</a>
                          </h5>
                        </template>

                        <template v-slot:tanggal="{ item }">
                          {{ item.tanggal }}
                        </template>

                        <!-- ID -->
                      </Table>
                    </b-card-text>
                  </b-tab>
                  <b-tab title="Pemenang">
                    <b-card-text>
                      <template v-for="( tahap, index ) in kegiatan.tahaps">
                        <template v-if="tahap.pemenang.length">
                          <h5 :key="`title${index}`">{{ index+1 }}. {{ tahap.nama }}</h5>
                          <ol :key="`ol${index}`">
                            <li v-for="( p, idx) in tahap.pemenang" :key="idx">
                              {{ p.undian.nomor }} - {{ p.undian.nama }} - {{ p.undian.alamat }}
                            </li>
                          </ol>
                        </template>
                      </template>
                    </b-card-text>
                  </b-tab>
                </b-tabs>
              </b-card>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Ya, Reset'"
      :message="'Apakah anda yakin mereset undian ini?'"
      :show="showModalReset"
      :style-button-ok="'btn btn-danger'"
      :title="'Konfirmasi Reset Undian'"
      @cancel="dialogCancel"
      @ok="dialogOkReset"
    />
    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Ya, Permanen'"
      :message="'Apakah anda yakin permanen undian ini?'"
      :show="showModalPermanent"
      :style-button-ok="'btn btn-info'"
      :title="'Konfirmasi Permanen Undian'"
      @cancel="dialogCancel"
      @ok="dialogOkPermanent"
    />
    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Ya, Hapus'"
      :message="'Apakah anda yakin menghapus kegiatan ini?'"
      :show="showModalDelete"
      :style-button-ok="'btn btn-danger'"
      :title="'Konfirmasi Hapus Kegiatan'"
      @cancel="dialogCancel"
      @ok="dialogOk"
    />
    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Ya, Hapus'"
      :message="'Apakah anda yakin menghapus tahap ini?'"
      :show="showModalDeleteTahap"
      :style-button-ok="'btn btn-danger'"
      :title="'Konfirmasi Hapus Tahap'"
      @cancel="dialogCancel"
      @ok="dialogDeleteTahap"
    />
    <Modal
      :show="showModalCreateEditTahap"
      :size="'lg'"
      @cancel="dialogCancel"
    >
      <template v-slot:header>
        Buat Tahap
      </template>
      <template v-slot:full-body>
        <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
          <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="dialogCancel">
            <span aria-hidden="true">&times;</span>
          </button>
          <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
        </div>

        <ValidationObserver ref="FormTahap" v-slot="{ handleSubmit }">
          <form ref="form" role="form" @submit.prevent="handleSubmit(onSubmit)">
            <div class="modal-body">
              <FormTahap :id="'FormTahap'" :form-data="formData" :is-submitting="isSubmitting" />
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="btn btn-secondary" type="button" @click="dialogCancel">Cancel</button>
                <button class="btn btn-primary" :disabled="isSubmitting" type="submit">
                  <span v-show="isSubmitting" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                  {{ isSubmitting ? 'Loading...' : 'Simpan' }}
                </button>
              </slot>
            </div>
          </form>
        </ValidationObserver>
        
      </template>
    </Modal>
    <Modal
      :show="showModalUploadUndian"
      @cancel="dialogCancel"
    >
      <template v-slot:header>
        Upload Undian
      </template>
      <template v-slot:full-body>
        <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
          <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="dialogCancel">
            <span aria-hidden="true" @click="dialogCancel">&times;</span>
          </button>
          <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
        </div>

        <ValidationObserver v-slot="{ handleSubmit }">
          <form ref="form" role="form" @submit.prevent="handleSubmit(onSubmitUpload)">
            <div class="modal-body">
              <FormUploadUndian :id="'UploadUndian'" :form-data="formDataUpload" :is-submitting-undian.sync="isSubmittingUndian" />
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="btn btn-secondary" type="button" @click="dialogCancel">Cancel</button>
                <button class="btn btn-primary" :disabled="isSubmittingUndian" type="submit">
                  <span v-show="isSubmittingUndian" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                  {{ isSubmittingUndian ? 'Loading...' : 'Simpan' }}
                </button>
              </slot>
            </div>
          </form>
        </ValidationObserver>
        
      </template>
    </Modal>
    
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import axios from 'axios';
import Table from '~/components/table';
import Breadcrumb from '~/components/breadcrumb';
import Modal from '~/components/modal';
import CardLoading from '~/components/card-loading';
import { capitalize } from '~/helpers/string';
import { humanizeTimestamp } from '~/helpers/date';
import { searchArrayKey, sortArrayKey } from '~/helpers/array';
import FormTahap from '~/components/forms/tahap';
import FormUploadUndian from '~/components/forms/upload-undian';
import errorMixin from '~/mixins/error';

export default {
  name: 'PageKegiatanDetail',
  layout: 'default',
  head: {
    title: `Detail Kegiatan | ${process.env.APP_NAME}`,
  },
  filters: { humanizeTimestamp, capitalize },
  components: { Table, Breadcrumb, Modal, CardLoading, FormTahap, FormUploadUndian },
  mixins: [errorMixin],
  data() {
    return {
      cancelSource: null,
      formDataUpload: {
        idKegiatan: this.$route.params.id,
        id: null,
      },
      formData: {
        idKegiatan: this.$route.params.id,
        nama: null,
        hadiah: null,
        urutan: null,
        jumlah_pemenang: null,
      },
      message: null,
      showCard: false,
      isSubmitting: false,
      isSubmittingUndian: false,
      showModalDelete: false,
      showModalDeleteTahap: false,
      showModalCreateEditTahap: false,
      showModalUploadUndian: false,
      showModalReset: false,
      showModalPermanent: false,
      id: this.$route.params.id,
      music: null,
      undian: null,
      createdAt: null,
      nama: null,
      tema: null,
      tanggal: null,
      path_background: null,
      breadcrumbItems: [
        {
          path: '/',
          label: 'Home',
        },
        {
          path: `/kegiatan/${this.$route.params.id}`,
          label: 'Kegiatan - Detil',
        },
      ],
      headers: [
        { field: 'urutan', label: 'Nomer', sortable: true },
        { field: 'nama', label: 'Nama', sortable: true },
        { field: 'hadiah', label: 'Hadiah', sortable: true },
        { field: 'jumlah_pemenang', label: 'Jumlah Pemenang', sortable: false },
        { field: 'status', label: 'Status', type: 'custom' },
        { field: 'id', label: '', type: 'custom' },
      ],
      tahaps: [],
      datas: [],
      datas_search: [],
      page: 1,
      limit: 10,
      totalData: 3,
      global_search: '',
      selectedEditTahap: false,
      selectedDeleteTahap: null,

      // undian
      undianHeaders: [
        { field: 'nomor', label: 'Nomor', sortable: true },
        { field: 'nama', label: 'Nama', sortable: true },
        { field: 'no_hp', label: 'No HP', sortable: true },
        { field: 'email', label: 'Email', sortable: true },
        { field: 'alamat', label: 'Alamat', sortable: true },
      ],
      undianItems: [],
      undianPage: 1,
      undianLimit: 10,
      undianTotalData: 0,
      undianPSort: '',
      undianPSearch: '',
    };
  },
  watch: {
    async music(val, valBefore) {
      if (valBefore !== null) {
        await this.$store.dispatch('kegiatan/switchMusic', { id: this.$route.params.id });
      }
    },
    async undian(val, valBefore) {
      if (valBefore !== null) {
        await this.$store.dispatch('kegiatan/switchNomorUndian', { id: this.$route.params.id });
      }
    },
    async kegiatan(val) {
      this.createdAt = val.created_at_unix;
      this.nama = val.nama;
      this.tema = val.tema;
      this.tanggal = val.tanggal_unix;
      this.path_background = val.path_background;
      this.music = !!val.lagu;
      this.undian = !!val.nomor_undian;
      this.tahaps = val.tahaps;
      this.totalData = this.tahaps.length;
      this.changePage(1);
      this.showCard = true;
    },
    async undians(val) {
      this.undianItems = val.data;
      this.undianPage = val.current_page;
      this.undianLimit = val.per_page;
      this.undianTotalData = val.total;
    },
  },
  computed: {
    ...mapGetters({
      kegiatan: 'kegiatan/getData',
      tahap: 'tahap/getData',
      undians: 'undian/getList',
    }),
  },
  async beforeCreate() {
    this.$store.dispatch('toast/removeAllMessage');
    await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.$route.params.id });
    await this.$store.dispatch('undian/retrieveList', { idKegiatan: this.$route.params.id });
  },
  methods: {
    async onSubmitUpload() {
      this.isSubmittingUndian = true;
      this.formDataUpload.idKegiatan = this.id;
      try {
        await this.$store.dispatch('undian/upload', this.formDataUpload);
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Upload Undian Berhasil',
            type: 'success',
            autoHide: true,
          },
        );
        this.undianCallList();
        this.showModalUploadUndian = false;
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmittingUndian = false;
    },
    async onSubmit() {
      this.isSubmitting = true;
      try {
        if (!this.selectedEditTahap) {
          await this.$store.dispatch('tahap/create', this.formData);
          this.$store.dispatch('toast/showMessage',
            {
              message: 'Create Tahap Sukses',
              type: 'success',
              autoHide: true,
            },
          );
        } else {
          this.formData.id = this.selectedEditTahap;
          await this.$store.dispatch('tahap/edit', this.formData);
          this.$store.dispatch('toast/showMessage',
            {
              message: 'Edit Tahap Sukses',
              type: 'success',
              autoHide: true,
            },
          );
        }
        await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.$route.params.id });

        this.formData = {
          idKegiatan: this.id,
          nama: null,
          hadiah: null,
          urutan: null,
          jumlah_pemenang: null,
        };

        this.$refs.FormTahap.reset();
        this.showModalCreateEditTahap = false;
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
    sort(params) {
      this.datas = sortArrayKey(this.datas, params);
      this.totalData = this.datas.length;
    },
    search(param) {
      this.global_search = param;
      const checkedColumns = ['id', 'created_at', 'status'];
      this.datas_search = searchArrayKey(this.tahaps, checkedColumns, param);
      this.totalData = this.datas_search.length;
      this.page = 1;
      this.changePage(this.page);
      
    },
    changePage(page) {
      if (this.global_search) {
        this.datas = this.datas_search.slice(this.limit * (page - 1), this.limit * page);
      } else {
        this.datas = this.tahaps.slice(this.limit * (page - 1), this.limit * page);
      }
      
      this.page = page;
    },
    clickCreateTahap() {
      this.message = false;
      this.selectedEditTahap = false;
      this.showModalCreateEditTahap = true;
    },
    clickUploadUndian() {
      this.message = false;
      this.showModalUploadUndian = true;
    },
    clickDelete() {
      this.showModalDelete = true;
    },
    async clickEditTahap(id) {
      this.message = false;
      this.selectedEditTahap = id;
      await this.$store.dispatch('tahap/retrieveDetail', { id });
      this.formData.nama = this.tahap.nama;
      this.formData.hadiah = this.tahap.hadiah;
      this.formData.urutan = String(this.tahap.urutan);
      this.formData.jumlah_pemenang = String(this.tahap.jumlah_pemenang);
      this.showModalCreateEditTahap = true;
    },
    clickDeleteTahap(id) {
      this.showModalDeleteTahap = true;
      this.selectedDeleteTahap = id;
    },
    async dialogOk() {
      this.isSubmitting = true;
      try {
        await this.$store.dispatch('kegiatan/delete', { id: this.id });
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Hapus Kegiatan Sukses',
            type: 'success',
            autoHide: true,
          },
        );
        this.$router.push('/');
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
    dialogCancel() {
      this.showModalDelete = false;
      this.showModalDeleteTahap = false;
      this.showModalCreateEditTahap = false;
      this.showModalUploadUndian = false;
      this.showModalReset = false;
      this.showModalPermanent = false;
    },
    async dialogDeleteTahap() {
      this.isSubmitting = true;
      try {
        await this.$store.dispatch('tahap/delete', { idKegiatan: this.id, id: this.selectedDeleteTahap });
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Hapus Tahap Sukses',
            type: 'success',
            autoHide: true,
          },
        );
        await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.id });
        this.showModalDeleteTahap = false;
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },

    async undianCallList() {
      const par = { idKegiatan: this.$route.params.id };
      if (this.undianPSort) par[`sorts[0][${this.undianPSort.by}]`] = this.undianPSort.order;
      if (this.undianPSearch) par.search = this.undianPSearch;
      if (this.undianPage) par.page = this.undianPage;

      this.cancelSearch();
      this.cancelSource = axios.CancelToken.source();
      par.cancelToken = this.cancelSource.token;

      await this.$store.dispatch('undian/retrieveList', par);
    },

    cancelSearch () {
      if (this.cancelSource) {
        this.cancelSource.cancel('Start new search, stop active search');
      }
    },

    undianSort(params) {
      this.undianPSort = params;
      this.undianCallList();
    },
    undianSearch(param) {
      this.undianPSearch = param;
      this.undianPage = 1;
      console.info(this.undianPSearch);
      this.undianCallList();
    },
    undianChangePage(page) {
      this.undianPage = page;
      this.undianCallList();
    },
    showResetUndian() {
      this.showModalReset = true;
    },
    showPermanent() {
      this.showModalPermanent = true;
    },
    async dialogOkPermanent() {
      this.isSubmitting = true;
      try {
        await this.$store.dispatch('undian/permanent', { idKegiatan: this.id });
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Permanent Undian Sukses',
            type: 'success',
            autoHide: true,
          },
        );
        await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.id });
        this.showModalPermanent = false;
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
    async dialogOkReset() {
      this.isSubmitting = true;
      try {
        await this.$store.dispatch('undian/reset', { idKegiatan: this.id });
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Reset Undian Sukses',
            type: 'success',
            autoHide: true,
          },
        );
        await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.id });
        this.showModalReset = false;
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
  },
};
</script>
