<template>
  <div>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-tiny-cover section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-white">Edit Kegiatan</h1>
                <Breadcrumb :items="breadcrumbItems" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <CardLoading :show-card="!showCard" />
    <section v-if="showCard" class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <card body-classes="py-4" class="border-0" shadow>
              <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="message = null">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
              </div>
              <ValidationObserver v-slot="{ handleSubmit }">
                <form role="form" @submit.prevent="handleSubmit(onSubmit)">
                  <FormKegiatan :form-data="formData" />
                </form>
              </ValidationObserver>
            </card>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</template>

<script>
import Vue from 'vue';
import { mapGetters } from 'vuex';
import VueMoment from 'vue-moment';
import moment from 'moment-timezone';
import FormKegiatan from '~/components/forms/kegiatan';
import CardLoading from '~/components/card-loading';
import Breadcrumb from '~/components/breadcrumb';
import errorMixin from '~/mixins/error';

Vue.use(VueMoment, { moment });

export default {
  name: 'PageKegiatanEdit',
  layout: 'default',
  head: {
    title: `Edit Kegiatan | ${process.env.APP_NAME}`,
  },
  components: { Breadcrumb, FormKegiatan, CardLoading },
  mixins: [errorMixin],
  data() {
    return {
      showCard: false,
      id: this.$route.params.id,
      isSubmitting: false,
      message: null,
      formData: {
        nama: null,
        tema: null,
        path_background: null,
        tanggal: null,
        jam: null,
      },
      breadcrumbItems: [
        {
          path: '/',
          label: 'Home',
        },
        {
          path: `/kegiatan/${this.$route.params.id}`,
          label: 'Kegiatan Detail',
        },
        {
          path: '/kegiatan/create',
          label: 'Edit',
        },
      ],
    };
  },
  watch: {
    async kegiatan(val) {
      this.formData.nama = val.nama;
      this.formData.tema = val.tema;
      this.formData.path_background = val.path_background;
      this.formData.tanggal = moment.utc(val.tanggal_unix * 1000).format('YYYY-MM-DD');
      this.formData.jam = { HH: moment.utc(val.tanggal_unix * 1000).format('HH'), mm: moment.utc(val.tanggal_unix * 1000).format('mm') };
      this.showCard = true;
    },
  },
  computed: {
    ...mapGetters({
      kegiatan: 'kegiatan/getData',
    }),
  },
  async beforeCreate() {
    await this.$store.dispatch('kegiatan/retrieveDetail', { id: this.$route.params.id });
  },
  methods: {
    async onSubmit() {
      this.isSubmitting = true;
      let tanggal = moment.utc(`${this.formData.tanggal}`);
      tanggal = tanggal.set({ hour: parseInt(this.formData.jam.HH,10), minute: parseInt(this.formData.jam.mm,10) });

      const param = {
        id: this.id,
        nama: this.formData.nama,
        tema: this.formData.tema,
        background: this.formData.background,
        tanggal: tanggal.format('X'),
      };

      try {
        await this.$store.dispatch('kegiatan/edit', param);
        this.$store.dispatch('toast/showMessage',
          {
            message: 'Edit Kegiatan Success',
            type: 'success',
            autoHide: true,
          },
        );
        this.$router.push(`/kegiatan/${this.id}`);
      } catch (error) {
        this.message = this.manageError(error);
      }
      this.isSubmitting = false;
    },
  },
};
</script>
