<template>
  <section class="section section-shaped section-lg my-0 p-0">
    <div v-if="show && !showStart" class="playground">
      <div v-if="finish" class="container-playground text-center">
        <div class="row daftar-pemenang">
          <div class="col-md-12">
            <div class="alert alert-dark mb-3" role="alert">
              <h5 class="mb-0 text-white"> UNDIAN SELESAI</h5>
            </div>
          </div>
        </div>
      </div>ex
      <div v-else class="container-playground text-center">
        <h2 class="text-white mb-0">{{ kegiatan.nama }}</h2>
        <h4 class="text-white mb-0">{{ kegiatan.tanggal_unix | humanizeTimestamp('%dd% %month% %yyyy%', 'ID') }}</h4>
        <p class="text-white">{{ tahap.hadiah }}</p>
        <div class="undian-zone">
          <div class="text-center text-white">
            <template v-if="start === 0">
              <h1 class="text-white">00000000000000</h1>
            </template>
            <template v-else>
              <div class="row daftar-pemenang justify-center">
                <div class="col-md-12">
                  <div class="alert alert-dark" :class="[showNomorUndian ? 'mb-3' : '']" role="alert">
                    <h5 class="mb-0 text-white"> Selamat Kepada</h5>
                  </div>
                </div>
                <template v-if="showNomorUndian">
                  <div v-for="(pemenang,index) in pemenangs" :key="index" class="col-md-6">
                    <h4 class="text-center text-white">
                      {{ pemenang.nomor }}
                    </h4>
                  </div>
                </template>
              </div>
              <div class="row daftar-pemenang mt-3">
                <div v-for="(pemenang,index) in pemenangs" :key="index" class="col-md-12 mb-2">
                  <h5 class="text-center text-white mb-0">{{ pemenang.nama }}</h5>
                  {{ pemenang.alamat }}
                </div>
              </div>
            </template>
          </div>
        </div>
        <div class="mt-4 button-zone">
          <button v-if="start === 0" class="btn btn-primary" @click="showDrawing">{{ !start ? 'Start Drawing' : 'Loading' }}</button>
          <button v-if="start === 2 && play.tahaps.length > 1" class="btn btn-primary mb-5" @click="showNextKonfirmasi">Next</button>
          <!-- <button v-if="result" class="btn btn-warning" @click="gantiPemenang">Undi Ulang</button> -->
        </div>
      </div>
    </div>
    <Modal
      :class-content="'start-undian'"
      :header-close="false"
      :show="showStart"
      :size="'lg'"
      @cancel="dialogCancel"
    >
      <template v-slot:full-body>
        <div class="modal-body">
          <div class="row">
            <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
              <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="dialogCancel">
                <span aria-hidden="true" @click="dialogCancel">&times;</span>
              </button>
              <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
            </div>
          </div>
          <h2 class="text-white text-center mb-0">{{ kegiatan.nama }}</h2>
          <h4 class="text-white text-center mb-0">{{ kegiatan.tanggal_unix | humanizeTimestamp('%dd% %month% %yyyy%', 'ID') }}</h4>
          <p class="text-white text-center">{{ tahap.hadiah }}</p>
          <div class="row justify-center">
            <template v-if="tahap.jumlah_pemenang === 1">
              <h1 v-if="start === 1" class="text-center">
                {{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}
              </h1>
              <h1 v-if="start === 0" class="text-center">
                00000000000000000
              </h1>
            </template>
            <template v-else>
              <div v-for="index in tahap.jumlah_pemenang" :key="index" class="col-lg-6">
                <h2 v-if="start === 1" class="text-center">
                  {{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}{{ count+2 }}{{ count }}{{ count+1 }}
                </h2>
                <h2 v-if="start === 0" class="text-center">
                  00000000000000000
                </h2>
              </div>
            </template>
          </div>
          <div class="text-center mt-3">
            <button v-if="start === 0" class="btn btn-secondary btn-sm" @click="dialogCancel">batal</button>
            <button v-if="start === 0" class="btn btn-primary btn-sm" @click="startDrawing">Mulai</button>
            <button v-if="start === 1" class="btn btn-danger btn-sm" @click="stopDrawing">Stop</button>
          </div>
        </div>        
      </template>
    </Modal>

    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Ya, Undi Ulang'"
      :message="'Apakah anda yakin mengundi Ulang?'"
      :show="showStartGanti"
      :style-button-ok="'btn btn-warning'"
      :title="'Konfirmasi Mengundi Ulang'"
      @cancel="dialogCancel"
      @ok="dialogOkGanti"
    />

    <Modal
      :is-submitting="isSubmitting"
      :label-ok="'Yakin'"
      :message="'Apakah anda yakin menuju ke tahap selanjutnya?'"
      :show="showYakin"
      :style-button-ok="'btn btn-warning'"
      :title="'Konfirmasi Tahap Selanjutnya'"
      @cancel="dialogCancel"
      @ok="nextTahap"
    />
  </section>
</template>

<script>
import Vue from 'vue';
import VueAnime from 'vue-animejs';
import VueConfetti from 'vue-confetti';
import { mapGetters } from 'vuex';
import errorMixin from '~/mixins/error';
import { humanizeTimestamp } from '~/helpers/date';
import Modal from '~/components/modal';

Vue.use(VueAnime);
Vue.use(VueConfetti);

export default {
  name: 'PagePLayground',
  layout: 'empty',
  middleware: 'authenticated',
  filters: { humanizeTimestamp },
  components: {
    Modal,
  },
  mixins: [errorMixin],
  data() {
    return {
      finish: false, 
      id: this.$route.params.id,
      isSubmitting: false,
      show: false,
      start: 0,
      tahap: {},
      kegiatan: {},
      pemenangs: {},
      showStart: false,
      showStartGanti: false,
      showYakin: false,
      nomor_undian: 0,
      showNomorUndian: 0,
      count: 0,
      message: null,
      audio: null,
      lagu_awal: '/sound/pop-dream.mp3',
      lagu_tegang: '/sound/tegang-diundi.mp3',
      lagu_menang: '/sound/winner.mp3',
    };
  },
  watch: {
    nomor_undian (val) {
      this.setCount(val);
    },
  },
  computed: {
    ...mapGetters({
      play: 'undian/getPrePlay',
      undian: 'undian/getData',
    }),
    getYear() {
      return new Date().getFullYear();
    },
    getCompanyName() {
      return process.env.COMPANY_NAME;
    },
  },
  async mounted() {
    this.refresh();
  },
  methods: {
    playSound (sound) {
      if (this.kegiatan && this.kegiatan.lagu) {
        if (sound) {
          if (this.audio != null) {
            this.audio.pause();
          }

          this.audio = new Audio(sound);
          this.audio.autoplay = true;
          const that = this;

          this.audio.play().catch(function() {
            setTimeout(function() { that.playSound(sound); }, 500);
          });  
        }
      }
    },
    async refresh() {
      this.show = false;
      this.start = 0;
      this.tahap = {};
      this.kegiatan = {};
      this.pemenangs = {};
      
      const header = document.getElementsByTagName('header');
      const footer = document.getElementsByTagName('footer');
      header[0].style.display = 'none';
      footer[0].style.display = 'none';

      await this.$store.dispatch('undian/prePlay', { idKegiatan: this.id });
      
      document.body.style.background = `#000 url('${this.play.kegiatan.path_background}')`;
      document.body.style.backgroundSize = '100% auto';
      document.body.style.backgroundPosition = 'center center';
      document.body.style.backgroundRepeat = 'no-repeat';
      document.body.style.backgroundAttachment = 'fixed';

      if (this.play.tahaps.length) {
        this.tahap = this.play.tahaps[0];
        this.kegiatan = this.play.kegiatan;
        this.showNomorUndian = this.play.kegiatan.nomor_undian;
        

        const that = this;
        Vue.nextTick(function () {
          that.playSound(that.lagu_awal);
        });
      } else {
        this.finish = true;
      }

      this.show = true;
      window.scrollTo(0,0);
    },
    nextTahap() {
      this.$confetti.stop();
      this.showYakin = false;
      this.refresh();
    },
    async onSubmit() {
      const passed = this.recaptchaLoginEnabled ? this.recaptchaVerified === true : true;
      if (passed) {
        this.isSubmitting = true;
        try {
          await this.$store.dispatch('auth/login', { email: this.email, password: this.password });
          this.message = { code: 200, msgs: ['Login Success'] };
          this.$router.push('/');
        } catch (error) {
          this.resetRecaptcha();
          this.message = this.manageError(error);
        }
        this.isSubmitting = false;
      } else {
        this.recaptchaVerified = false;
      }
    },
    showDrawing() {
      this.showStart = true;
    },
    showNextKonfirmasi() {
      this.showYakin = true;
    },
    async startDrawing() {
      this.playSound(this.lagu_tegang);
      this.start = 1;
      this.nomor_undian = 7;
      try {
        await this.$store.dispatch('undian/play', { idKegiatan: this.id });
      } catch (error) {
        this.message = this.manageError(error);
      }
    },
    stopDrawing() {
      this.playSound(this.lagu_menang);
      this.$confetti.start();
      this.showStart = false;
      this.start = 2;
      this.pemenangs = this.undian.pemenangs;
    },
    gantiPemenang() {
      this.start = true;
      this.showStartGanti = true;
      this.nomor_undian = 7;
    },
    async dialogOkGanti() {
      try {
        await this.$store.dispatch('undian/ganti', { idKegiatan: this.id, id: this.undian.pemenangs[0].id });
      } catch (error) {
        this.message = this.manageError(error);
      }
    },
    dialogCancel() {
      this.showStart = false;
      this.showStartGanti = false;
      this.showYakin = false;
    },
    async setCount (val) {
      const obj = { n: this.count };
      this.$anime({
        targets: obj,
        n: val,
        round: 1,
        duration: this.nomor_undian * 100,
        easing: 'linear',
        update: () => {
          this.count = obj.n;
        },
        complete: () => {
          this.count = 0;
          this.setCount(7);
        },
      });
    },
  },
};
</script>

<style lang="scss" scoped>
body {
  height: 100%;
  min-height: 100%;
}

.c-logo {
  justify-content: center;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;

  img {
    height: 70px;
    margin-right: 15px;
  }

  h1 {
    font-size: 25px;
  }
}

.c-button-login {
  width: 100%;
}

.playground {
  min-height: 500px;
  padding-top: 125px;
  display: flex;
  justify-content: center;

  .container-playground {
    width: 600px;
  }
}

.roll-number {
  padding: 10px;
  border: 1px solid black;
}

.undian-zone {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.button-zone {
  display: flex;
  justify-content: center;
}

h1 {
  letter-spacing: 6px;
}

.alert {
  width: 500px;
  text-align: center;
  margin-bottom: 0;

  h5 {
    text-transform: uppercase;
  }
}

.daftar-pemenang {
  letter-spacing: 0;
  background: rgba(0, 0, 0, 0.3215686274509804);
  padding: 20px 10px;
  margin-top: 20px;

  .alert {
    width: 100%;
    text-align: center;
  }
}

.nama-daftar-pemenang {
  .box {
    background: white;
    color: black !important;
    padding: 10px;
    letter-spacing: 0;
  }
}

.justify-center {
  justify-content: center;
}
</style>
