<template>
  <div>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section-shaped my-0">
        <div class="shape shape-style-1 shape-default shape-skew">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container shape-container d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="display-3  text-white">Undian.in
                  <span>Manage your draw easily</span>
                </h1>
                <p class="lead text-white">Systems that helps you a lot about your draw or lottery games</p>
                <div class="btn-wrapper">
                  <nuxt-link class="btn btn-primary" to="/kegiatan/create">
                    <i class="fa fa-plus"></i> Buat Kegiatan
                  </nuxt-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <CardLoading :show-card="!showCard" />
    <section v-if="showCard" class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <card body-classes="py-4" class="border-0" shadow>
              <Table enable-search :headers="headers" :items="items" :limit="limit" :page="page" :table-class="'table-sm'" :total-data="totalData"
                     @change-page="changePage" @search="search" @sort="sort">
                <template v-slot:header-title>
                  <h5 class="mb-3">Kegiatan</h5>
                </template>

                <template v-slot:tanggal="{ item }">
                  {{ item.tanggal }}
                </template>

                <!-- ID -->
                <template v-slot:id="{ item }">
                  <div class="text-center">
                    <NuxtLink class="btn btn-sm btn-primary" :to="`/kegiatan/${item.id}`"><i class="fa fa-eye"></i></NuxtLink>
                  </div>
                </template>
              </Table>
            </card>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</template>

<script>
import axios from 'axios';
import { mapGetters } from 'vuex';
import Table from '~/components/table';
import CardLoading from '~/components/card-loading';
import { humanizeTimestamp } from '~/helpers/date';

export default {
  name: 'PageIndex',
  layout: 'default',
  head: {
    title: `Dashboard | ${process.env.APP_NAME}`,
  },
  filters: { humanizeTimestamp },
  components: { Table, CardLoading },
  data() {
    return {
      cancelSource: null,
      showCard: false,
      // Table Related
      headers: [
        { field: 'nama', label: 'Nama Kegiatan', sortable: true },
        { field: 'tema', label: 'Tema', sortable: true },
        { field: 'tanggal', label: 'Tanggal Kegiatan', sortable: true, type: 'custom' },
        { field: 'id', label: '', labelIcon: 'fa fa-cog', sortable: false, type: 'custom' },
      ],
      items: [],
      page: 1,
      limit: 10,
      totalData: 0,
      p_sort: '',
      p_search: '',
      // End of Table Related
    };
  },
  watch: {
    async kegiatan(val) {
      const list = val.data.map(obj => {
        console.info(obj.tanggal_unix);
        const ret = {
          nama: obj.nama,
          tema: obj.tema,
          tanggal: humanizeTimestamp(obj.tanggal_unix, '%dd% %month% %yyyy% %hh%:%mi%'),
          id: obj.id,
        };
        return ret;
      });

      this.page = val.current_page;
      this.totalData = val.total;
      this.items = list;
      this.showCard = true;
    },
  },
  computed: {
    ...mapGetters({
      kegiatan: 'kegiatan/getList',
    }),
  },
  async beforeCreate() {
    await this.$store.dispatch('kegiatan/retrieveList');
  },
  methods: {
    async call_list() {
      const par = {};
      if (this.p_sort) par[`sorts[0][${this.p_sort.by}]`] = this.p_sort.order;
      if (this.p_search) par.search = this.p_search;
      if (this.page) par.page = this.page;

      this.cancelSearch();
      this.cancelSource = axios.CancelToken.source();
      par.cancelToken = this.cancelSource.token;

      await this.$store.dispatch('kegiatan/retrieveList', par);
    },
    cancelSearch () {
      if (this.cancelSource) {
        this.cancelSource.cancel('Start new search, stop active search');
      }
    },
    sort(params) {
      this.p_sort = params;
      this.call_list();
    },
    search(param) {
      this.p_search = param;
      this.page = 1;
      this.call_list();
    },
    changePage(page) {
      this.page = page;
      this.call_list();
    },
  },
};
</script>
