<template>
  <section class="section section-shaped section-lg my-0">
    
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="c-logo">
          <img alt="Logo" src="/img/wof.png" @click="$router.push('/login')" />
          Undian.in
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card body-classes="px-lg-5 py-lg-5" class="border-0"
                header-classes="bg-white pb-5"
                shadow
                type="secondary">
            <template>
              <div v-if="message && message.code != 200" class="alert alert-danger mt-3" role="alert">
                <button aria-label="Close" class="close" data-dismiss="alert" type="button" @click="message = null">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div v-for="(msg,index) in message.msgs" :key="index">{{ msg.message != undefined ? msg.message : msg }}</div>
              </div>
              <ValidationObserver v-slot="{ handleSubmit }">
                <form role="form" @submit.prevent="handleSubmit(onSubmit)">
                  <ValidationProvider v-slot="{ errors }" rules="required">
                    <base-input id="email"
                                v-model="email"
                                addon-left-icon="fa fa-envelope"
                                alternative
                                class="mb-3"
                                :error="errors[0]"
                                placeholder="Email">
                    </base-input>
                  </ValidationProvider>
                  <ValidationProvider v-slot="{ errors }" rules="required">
                    <base-input id="password"
                                v-model="password"
                                addon-left-icon="fa fa-lock"
                                alternative
                                :error="errors[0]"
                                placeholder="Password"
                                type="password">
                    </base-input>
                  </ValidationProvider>
                  <div v-show="recaptchaLoginEnabled" class="form-group">
                    <VueRecaptcha id="g-recaptcha" ref="recaptcha" :sitekey="sitekey" @render="initRecaptcha" @verify="markRecaptchaAsVerified" />
                    <div v-show="recaptchaVerified === false" class="text-danger invalid-feedback mb-3 mt-2" style="display: block;">
                      Please make sure you're not robot
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary btn-block" :disabled="isSubmitting" type="submit">
                      <span v-show="isSubmitting" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
                      {{ isSubmitting ? 'Loading...' : 'Login' }}
                    </button>
                  </div>
                </form>
              </ValidationObserver>
            </template>
          </card>
          <div class="row mt-3">
            <div class="col-12">
              <div class="text-center text-light">Copyright &copy; {{ getYear }} {{ getCompanyName }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import recaptchaMixin from '~/mixins/recaptcha';
import errorMixin from '~/mixins/error';

export default {
  name: 'PageLogin',
  layout: 'empty',
  head: {
    title: `Login | ${process.env.APP_NAME}`,
    script: [{ src: 'https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit', defer: true, async: true }],
  },
  middleware: 'unauthenticated',
  mixins: [recaptchaMixin, errorMixin],
  data() {
    return {
      isSubmitting: false,
      email: '',
      password: '',
      message: null,
    };
  },
  computed: {
    getYear() {
      return new Date().getFullYear();
    },
    getCompanyName() {
      return process.env.COMPANY_NAME;
    },
  },
  methods: {
    async onSubmit() {
      const passed = this.recaptchaLoginEnabled ? this.recaptchaVerified === true : true;
      if (passed) {
        this.isSubmitting = true;
        try {
          await this.$store.dispatch('auth/login', { email: this.email, password: this.password });
          this.message = { code: 200, msgs: ['Login Success'] };
          this.$router.push('/');
        } catch (error) {
          this.resetRecaptcha();
          this.message = this.manageError(error);
        }
        this.isSubmitting = false;
      } else {
        this.recaptchaVerified = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.c-logo {
  justify-content: center;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;

  img {
    height: 70px;
    margin-right: 15px;
  }

  h1 {
    font-size: 25px;
  }
}

.c-button-login {
  width: 100%;
}
</style>
