<template>
  <section class="section section-shaped section-lg my-0 page-logout">
    
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <card body-classes="px-lg-5 py-lg-5 card-logout" class="border-0"
                header-classes="bg-white pb-5"
                shadow
                type="secondary">
            <template>
              <div class="c-logo">
                <img alt="Logo" src="/img/wof.png" @click="$router.push('/login')" />
              </div>
              <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div class="mt-4 text-center">Logging you out ...</div>
            </template>
          </card>
          <div class="row mt-3">
            <div class="col-12">
              <div class="text-center text-light">Copyright &copy; {{ getYear }} {{ getCompanyName }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PageLogout',
  middleware: 'authenticated',
  layout: 'empty',
  head: {
    title: 'Logout',
  },
  computed: {
    getYear() {
      return new Date().getFullYear();
    },
    getCompanyName() {
      return process.env.COMPANY_NAME;
    },
  },
  mounted() {
    setTimeout(async () => {
      try {
        await this.$store.dispatch('auth/logout');
      } finally {
        this.$router.push('/login');
      }
    }, 500);
  },
};
</script>

<style lang="scss">
.card-logout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-logout {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.c-logo {
  justify-content: center;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: bold;

  img {
    height: 70px;
    margin-right: 15px;
  }

  h1 {
    font-size: 25px;
  }
}

.c-button-login {
  width: 100%;
}
</style>
