<template>
  <div class="page-wrapper">
    <div class="container">
      <div class="row page-titles">
        <div class="col-md-12 col-lg-12 align-self-center">
          <h4 class="text-themecolor">Placeholder</h4>
          <Breadcrumb :items="breadcrumbItems" />
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 ">
          <div class="card mb-3 shadow">
            <div class="card-body">
              This page is simillar to the other page. You can copy-paste and update from the other page.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Breadcrumb from '~/components/breadcrumb';

export default {
  name: 'PagePlaceholder',
  components: { Breadcrumb },
  data() {
    return {
      BreadcrumbItems: [
        {
          path: '/',
          label: 'Home',
        },
      ],
    };
  },
};
</script>
