<template>
  <ValidationProvider v-slot="{ errors }" :name="validationName" :rules="rules">
    <multiselect
      :id="getInputId"
      class="c-dropdown"
      :group-label="selectorGroupLabel"
      :group-values="selectorGroupValues"
      :internal-search="internalSearch"
      :label="selectorText"
      :loading="loading"
      :multiple="multiple"
      :options="options"
      :placeholder="placeholder"
      :searchable="searchable"
      :show-labels="false"
      :tag-placeholder="tagPlaceholder"
      :taggable="taggable"
      :track-by="selectorId"
      :value="value"
      @blur="$emit('blur')"
      @change="updateValue"
      @input="updateValue"
      @search-change="asyncFind"
      @tag="addTag"
    >
      <template slot="placeholder">
        <slot name="placeholder">{{ placeholder }}</slot>
      </template>

      <template slot="noResult">
        <slot name="noResult"></slot>
      </template>

      <template slot="noOptions">
        <slot name="noOptions"></slot>
      </template>

      <template v-slot:option="slotProps">
        <slot name="option" :slot-props="slotProps">
          <div class="c-dropdown__option" :class="{ 'c-dropdown__option--disabled': slotProps.option.$isDisabled }">
            <div class="c-dropdown__option__left">{{ slotProps.option[selectorText] }}</div>
            <div class="c-dropdown__option__right" :class="{ 'c-dropdown__option--red': slotProps.option.$isDisabled }">
              {{ slotProps.option.$isDisabled ? 'Not Available' : '' }}
            </div>
          </div>
        </slot>
      </template>

      <template v-slot:singleLabel="slotProps">
        <slot name="singleLabel" :slot-props="slotProps">
          <div class="c-dropdown__selected">
            <div class="c-dropdown__selected__item">
              <span class="option__title">{{ slotProps.option[selectorText] }}</span>
            </div>
          </div>
        </slot>
      </template>
    </multiselect>

    <small v-show="helpText" class="form-text text-muted">{{ helpText }}</small>

    <transition name="slide">
      <span v-show="errors" class="form-text c-error-message">{{ errors[0] }}</span>
    </transition>
  </ValidationProvider>
</template>

<script>
import { camelCase } from '~/helpers/string';
import { getRandomInt } from '~/helpers/number';

export default {
  name: 'InputSelect',
  props: {
    internalSearch: {
      type: Boolean,
      default: true,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    required: {
      type: Boolean,
      default: true,
    },
    taggable: {
      type: Boolean,
      default: false,
    },
    searchable: {
      type: Boolean,
      default: true,
    },
    tagPlaceholder: {
      type: String,
      default: 'Press enter to create a tag',
    },
    rules: {
      type: String,
      default: '',
    },
    id: {
      type: String,
      default: '',
    },
    validationName: {
      type: String,
      default: '',
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    value: {
      type: [Array, Object],
      default: () => {
        return [];
      },
    },
    placeholder: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    options: {
      type: Array,
      default: () => {
        return [];
      },
    },
    helpText: {
      type: String,
      default: '',
    },
    selectorId: {
      type: String,
      default: 'id',
    },
    selectorText: {
      type: String,
      default: 'text',
    },
    selectorGroupLabel: {
      type: String,
      default: null,
    },
    selectorGroupValues: {
      type: String,
      default: null,
    },
  },
  computed: {
    getInputId() {
      let inputId = `txt${getRandomInt(1, 99999)}`;
      if (this.id !== '') inputId = this.id;
      else if (this.label !== '' && this.label !== null  && this.label !== undefined) inputId = camelCase(`txt${this.label}`);
      return inputId;
    },
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e);
    },
    asyncFind(query) {
      this.$emit('find', query);
    },
    addTag(query) {
      this.$emit('addTag', query);
    },
  },
};
</script>
