<template>
  <div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-row align-content-center align-items-center">
        <slot name="header-title"></slot>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-right">
        <div class="align-content-center align-items-center form-row justify-content-between justify-content-md-end">
          <TextInput v-model="search" margin="mb-1">
            <template v-slot:prepend>
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-search"></i></span>
              </div>
            </template>
            <template v-slot:append>
              <div v-if="search !== '' && search !== null" class="input-group-append u-cursor--pointer" @click="search = null">
                <span class="input-group-text"><i class="fa fa-times"></i></span>
              </div>
            </template>
          </TextInput>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-hover c-table">
        <thead>
          <tr>
            <th
              v-for="(header, i) in headers"
              :key="i"
              :class="[`${header.headerCssClass ? header.headerCssClass : ''}`, ...classObject(header)]"
              :style="header.headerCssStyle"
              @click="clickTableHeader(header)"
            >
              <span>{{ header.label }}</span>
            </th>
            <th v-show="showCheckbox" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-show="isLoading">
            <td :colspan="columnSize">
              <slot name="data-loading">
                <div class="text-center font-italic">Loading</div>
              </slot>
            </td>
          </tr>
          <tr v-show="options.data.length === 0">
            <td :colspan="columnSize">
              <slot name="data-loading">
                <div class="text-center font-italic">No Data</div>
              </slot>
            </td>
          </tr>
          <tr
            v-for="(item, id) in options.data"
            :key="id"
            :class="{ 'u-cursor--pointer': clickToSelect, highlight_row: highlighted === item[selectBy], highlight_row: value === item[selectBy] }"
            @click="clickTableRow(item)"
          >
            <td v-for="(header, i) in headers" :key="i" class="u-valign-middle" :class="header.columnCssClass" :style="header.columnCssStyle">
              <slot v-if="header.type === 'custom'" :item="item" :name="header.field">
                {{ item[header.field] }}
              </slot>
              <div v-else-if="header.type === 'radio'" :class="header.cssClass" :style="header.cssStyle">
                <input type="radio" :value="item[header.field]" />
              </div>
              <div v-else :class="header.cssClass" :style="header.cssStyle">{{ item[header.field] }}</div>
            </td>
            <td v-show="showCheckbox" class="align-middle">
              <input :checked="highlighted === item[selectBy] || value === item[selectBy]" class="form-control" style="height: auto;" type="radio" />
            </td>
          </tr>
        </tbody>
        <tfoot v-if="pagination">
          <tr>
            <td :colspan="columnSize">
              <div class="row">
                <div class="col-md-6 col-12 text-md-left text-center pt-3">
                  <WidgetTableSummary :item-end="itemEnd" :item-start="itemStart" :total-data="totalData" />
                </div>
                <div class="col-md-6 col-12 text-md-right text-center pt-3">
                  <WidgetTablePagination :page="page" :total-page="totalPage" @click="clickPaginationPage" />
                </div>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <ValidationProvider v-slot="{ errors }" :name="validationName" :rules="rules">
      <input type="hidden" :value="value" />
      <transition name="slide">
        <span v-show="errors" class="form-text c-error-message">{{ errors[0] && validationMessage !== null ? validationMessage : errors[0] }}</span>
      </transition>
    </ValidationProvider>
  </div>
</template>

<script>
import TextInput from '~/components/inputs/text';
import WidgetTableSummary from '~/components/widgets/table/summary';
import WidgetTablePagination from '~/components/widgets/table/pagination';
import { getSummaryEnd, getSummaryStart, getSummaryTotalPage } from '~/helpers/table';

export default {
  name: 'InputTable',
  components: { TextInput, WidgetTableSummary, WidgetTablePagination },
  props: {
    isLoading: {
      type: Boolean,
      default: false,
    },
    headers: {
      type: Array,
      default: () => {
        return [
          {
            field: null,
            label: 'OS',
            type: 'custom',
            headerCssStyle: '',
            headerCssClass: '',
            columnCssStyle: '',
            columnCssClass: '',
            cssStyle: '',
            cssClass: '',
            sortable: false,
          },
        ];
      },
    },
    options: {
      type: Object,
      default: () => {
        return { isLoading: false, data: [] };
      },
    },
    clickToSelect: {
      type: Boolean,
      default: false,
    },
    selectBy: {
      type: String,
      default: '',
    },
    value: {
      type: [String, Number],
      default: '',
    },
    rules: {
      type: String,
      default: '',
    },
    validationName: {
      type: String,
      default: '',
    },
    validationMessage: {
      type: String,
      default: null,
    },
    pagination: {
      type: Boolean,
      default: true,
    },
    page: {
      type: Number,
      default: 1,
    },
    limit: {
      type: Number,
      default: 1,
    },
    totalData: {
      type: Number,
      default: 1,
    },
    showCheckbox: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      highlighted: null,
      savedOptions: null,
      sort: {
        sorted: false,
        by: null,
        byComplete: null,
        order: 'asc',
      },
      search: null,
    };
  },
  watch: {
    search(val) {
      this.$emit('search', val);
    },
  },
  computed: {
    itemStart() {
      return getSummaryStart(this.limit, this.page, this.totalData);
    },
    itemEnd() {
      return getSummaryEnd(this.limit, this.totalData, this.itemStart);
    },
    totalPage() {
      return getSummaryTotalPage(this.limit, this.totalData);
    },
    columnSize() {
      if (this.showCheckbox) return this.headers.length + 1;
      return this.headers.length;
    },
    classObject() {
      return val => {
        return {
          'c-table--sortable': val.sortable,
          asc: val.field === this.sort.by && this.sort.order === 'asc',
          desc: val.field === this.sort.by && this.sort.order === 'desc',
        };
      };
    },
  },
  mounted() {
    this.highlighted = this.value;
  },
  methods: {
    clickTableRow(item) {
      if (this.clickToSelect) {
        if (this.highlighted !== item[this.selectBy]) {
          this.highlighted = item[this.selectBy];
          this.$emit('input', item[this.selectBy]);
        } else {
          this.highlighted = null;
          this.$emit('input', null);
        }
      }
    },
    clickTableHeader(header) {
      if (header.sortable) {
        this.sort.sorted = true;
        const targetField = header.sortableField;
        if (this.sort.by === header.field) {
          this.sort.order = this.sort.order === 'asc' ? 'desc' : 'asc';
        } else {
          this.sort.by = header.field;
          this.sort.byComplete = targetField || header.field;
          this.sort.order = 'asc';
        }
        this.execSort();
      }
    },
    execSort() {
      this.$emit('sort', this.sort);
    },
    clickPaginationPage(page = null) {
      if (page !== null) {
        this.$emit('change-page', page);
      }
    },
  },
};
</script>
