<template>
  <div class="form-group" :class="[margin, { 'm-0': margin === null }]">
    <label v-if="label" class="text-muted" :class="{ required: required }" :for="getInputId">
      <small>{{ label }}</small>
      <slot name="label"></slot>
    </label>
    <ValidationProvider v-slot="{ errors }" :mode="validationMode" :name="validationName" :rules="rules">
      <div class="input-group" :class="{ 'input-group--disabled': disabled }">
        <slot name="prepend"></slot>
        <input
          v-if="type !== 'textarea'"
          :id="getInputId"
          ref="input"
          :class="{ 'form-control': true, 'border-left-0': !!$slots['prepend'], 'border-right-0': !!$slots['append'] }"
          :disabled="disabled"
          :placeholder="getPlaceholder"
          :type="type"
          :value="value"
          @blur="$emit('blur')"
          @change="updateValue"
          @input="updateValue"
        />
        <textarea
          v-else
          :id="getInputId"
          ref="input"
          :class="{ 'form-control': true, 'border-left-0': !!$slots['prepend'], 'border-right-0': !!$slots['append'] }"
          :disabled="disabled"
          :placeholder="getPlaceholder"
          rows="3"
          :value="value"
          @blur="$emit('blur')"
          @change="updateValue"
          @input="updateValue"
        />
        <slot name="append"></slot>
      </div>

      <small v-show="helpText" class="form-text text-muted">{{ helpText }}</small>

      <transition name="slide">
        <span v-show="errors" class="form-text c-error-message">{{ errors[0] }}</span>
      </transition>
    </ValidationProvider>
  </div>
</template>

<script>
import { camelCase } from '~/helpers/string';
import { getRandomInt } from '~/helpers/number';

export default {
  name: 'InputText',
  props: {
    required: {
      type: Boolean,
      default: true,
    },
    rules: {
      type: String,
      default: '',
    },
    validationMode: {
      type: String,
      // Please refer to https://logaretm.github.io/vee-validate/guide/interaction-and-ux.html#interaction-modes
      default: 'eager', // aggressive, lazy, eager (recommended)
    },
    id: {
      type: String,
      default: '',
    },
    validationName: {
      type: String,
      default: '',
    },
    value: {
      type: String,
      default: '',
    },
    label: {
      type: String,
      default: '',
    },
    placeholder: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    type: {
      type: String,
      default: 'text',
      validator: val => {
        return ['url', 'text', 'password', 'email', 'textarea', 'number'].indexOf(val) !== -1;
      },
    },
    iconLeft: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: '',
    },
    margin: {
      type: String,
      default: 'mb-3',
    },
  },
  computed: {
    getInputId() {
      let inputId = `txt${getRandomInt(1, 99999)}`;
      if (this.id !== '') inputId = this.id;
      else if (this.label !== '' && this.label !== null) inputId = camelCase(`txt${this.label}`);
      return inputId;
    },
    getPlaceholder() {
      if (this.placeholder !== '') return this.placeholder;
      return this.label;
    },
  },
  methods: {
    updateValue(e) {
      this.$emit('input', e.target.value);
    },
    focus() {
      this.$refs.input.focus();
    },
  },
};
</script>
