<template>
  <div
    class="toggle btn"
    :class="{ 'btn-success': value === 1, 'btn-danger': value === 0, off: value === 0 }"
    style="width: 100px; height: 20px;"
    @click="$emit('input', value === 1 ? 0 : 1)"
  >
    <input type="checkbox" :value="value" />
    <div class="toggle-group">
      <label class="btn btn-success toggle-on" style="line-height: 20.3906px;">{{ labelOn }}</label>
      <label class="btn btn-danger toggle-off" style="line-height: 20.3906px;">{{ labelOff }}</label>
      <span class="toggle-handle btn btn-light"></span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'InputToggle',
  props: {
    value: {
      type: Number,
      default: 0,
    },
    labelOn: {
      type: String,
      default: 'On',
    },
    labelOff: {
      type: String,
      default: 'Off',
    },
  },
};
</script>
