<template>
  <div id="createReport">
    <div class="form-group row">
      <label class="col-sm-3 col-md-2 col-form-label">Nama Kegiatan<span class="text-danger">*</span></label>
      <div class="col-sm-9 col-md-10">
        <TextInput
          v-model="formData.nama"
          placeholder="Nama Kegiatan"
          :required="false"
          rules="required|min:3"
          type="text"
        >
        </TextInput>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-md-2 col-form-label">Tema<span class="text-danger">*</span></label>
      <div class="col-sm-9 col-md-10">
        <TextInput
          v-model="formData.tema"
          placeholder="Nama Tema"
          :required="false"
          rules="required"
          type="textarea"
        >
        </TextInput>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-md-2 col-form-label">Tanggal<span class="text-danger">*</span></label>
      <div class="col-sm-3 col-md-4">
        <ValidationProvider v-slot="{ errors }" name="Tanggal" rules="required">
          <datepicker v-model="formData.tanggal" :format="'dd-MM-yyyy'" input-class="form-control" placeholder="Tanggal" required></datepicker>
          <span v-show="errors" class="c-error-message">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
      <label class="col-sm-3 col-md-2 col-form-label">Jam<span class="text-danger">*</span></label>
      <div class="col-sm-3 col-md-4">
        <ValidationProvider v-slot="{ errors }" rules="required">
          <div>
            <timepicker v-model="formData.jam" :format="'HH:mm'" input-class="form-control" placeholder="Jam"></timepicker>
          </div>
          <span v-show="errors" class="c-error-message">{{ errors[0] }}</span>
        </ValidationProvider>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-md-2 col-form-label">Background</label>
      <div class="col-sm-9 col-md-10">
        <div v-if="formData.path_background">
          <img class="mb-2" :src="formData.path_background" width="200px">
        </div>
        <Input
          class="form-control"
          type="file"
          @change="handleFiles($event)"
        />
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-primary" :disabled="isSubmitting" type="submit">
        <span v-show="isSubmitting" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
        {{ isSubmitting ? 'Loading...' : 'Submit' }}
      </button>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import axios from 'axios';
import Cookies from 'js-cookie';
import VueMoment from 'vue-moment';
import moment from 'moment-timezone';
import Datepicker from 'vuejs-datepicker';
import Timepicker from 'vue2-timepicker';
import TextInput from '~/components/inputs/text';


Vue.use(VueMoment, { moment });

export default {
  name: 'FormReport',
  components: { TextInput, Datepicker, Timepicker },
  props: {
    formData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    isSubmitting: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      
    };
  },
  async mounted() {
    this.$store.dispatch('toast/removeAllMessage');
  },
  methods: {
    async handleFiles(file) {
      const url = '/api/upload';
      const fd = new FormData();
      fd.append('file',file.target.files[0]);
      const config = {
        headers: {
          'content-type': 'multipart/form-data',
          'x-authorization': Cookies.get('cxp_token'),
        },
      };
      let data = {};
      this.isSubmitting = true;
      await axios.post(url,
        fd,
        config,
      ).then(function(d) {
        data = d;
      });
      this.isSubmitting = false;
      this.formData.background = data.data.data.path;
      this.formData.path_background = data.data.data.full_path;
    },
  },
};
</script>