<template>
  <div id="createReport">
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Urutan<span class="text-danger">*</span></label>
      <div class="col-md-9">
        <TextInput
          v-model="formData.urutan"
          placeholder="Urutan"
          :required="false"
          rules="required|numeric"
          type="text"
        >
        </TextInput>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Nama Tahap<span class="text-danger">*</span></label>
      <div class="col-md-9">
        <TextInput
          v-model="formData.nama"
          placeholder="Nama Tahap"
          :required="false"
          rules="required|min:3"
          type="text"
        >
        </TextInput>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Hadiah<span class="text-danger">*</span></label>
      <div class="col-md-9">
        <TextInput
          v-model="formData.hadiah"
          placeholder="Hadiah"
          :required="false"
          rules="required"
          type="text"
        >
        </TextInput>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label">Jumlah Pemenang<span class="text-danger">*</span></label>
      <div class="col-md-9">
        <TextInput
          v-model="formData.jumlah_pemenang"
          placeholder="Jumlah Pemenang"
          :required="false"
          rules="required|max_value:10|numeric"
          type="text"
        >
        </TextInput>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import VueMoment from 'vue-moment';
import moment from 'moment-timezone';
import TextInput from '~/components/inputs/text';


Vue.use(VueMoment, { moment });

export default {
  name: 'FormReport',
  components: { TextInput },
  props: {
    formData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    isSubmitting: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      
    };
  },
  async mounted() {
    this.$store.dispatch('toast/removeAllMessage');
  },
  methods: {
  },
};
</script>