<template>
  <div id="uploadUndian">
    <div class="form-group row">
      <label class="col-sm-3 col-md-2 col-form-label">File<span class="text-danger">*</span></label>
      <div class="col-sm-9 col-md-10">
        <Input
          class="form-control"
          type="file"
          @change="handleFiles($event)"
        />
        <span v-show="!formData.id" class="c-error-message">This field is required</span>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue';
import axios from 'axios';
import Cookies from 'js-cookie';
import VueMoment from 'vue-moment';
import moment from 'moment-timezone';

Vue.use(VueMoment, { moment });

export default {
  name: 'FormReport',
  props: {
    formData: {
      type: Object,
      default: () => {
        return {};
      },
    },
    isSubmittingUndian: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      
    };
  },
  async mounted() {
    this.$store.dispatch('toast/removeAllMessage');
  },
  methods: {
    async handleFiles(file) {
      const url = '/api/upload';
      const fd = new FormData();
      fd.append('file',file.target.files[0]);
      const config = {
        headers: {
          'content-type': 'multipart/form-data',
          'x-authorization': Cookies.get('cxp_token'),
        },
      };
      let data = {};
      this.$emit('update:isSubmittingUndian', true);
      await axios.post(url,
        fd,
        config,
      ).then(function(d) {
        data = d;
      });
      this.$emit('update:isSubmittingUndian', false);
      this.formData.id = data.data.data.id;
    },
  },
};
</script>